body {
	font-size: 16px;
}

p {
	text-align: center;
	font-size: 24px;
}

/*Header*/
.header {	
	background-color: #ccc;
	padding: 5px;
}

.header h1 {
	text-align: center;
	text-transform: uppercase;
}

/*Content*/
.conent_text {
	margin-top: 20px;
	font-size: 17px;
}

/*Content 555-999*/
.content_block_1 {
	margin-top: 30px;
	background-color: #b74444;
	color: #fff;
	padding: 70px;
	text-align: center;
	font-size: 18px;
}
.content_block_1:hover {
	background-color: #ce2626;
	transition: 0.5s ease; 
}

.content_block_2 {
	margin-top: 30px;
	background-color: #887e63;
	color: #000;
	padding: 70px;
	text-align: center;
	font-size: 18px;
}
.content_block_2:hover {
	background-color: #696250;
	transition: 0.5s ease; 
}

.content_block_3 {
	margin-top: 30px;
	background-color: #4d5779;
	color: #fff;
	padding: 70px;
	text-align: center;
	font-size: 18px;
}
.content_block_3:hover {
	background-color: #283b79;
	transition: 0.5s ease; 
}

.content_block_4 {
	margin-top: 30px;
	background-color: #36a959;
	color: #000;
	padding: 70px;
	text-align: center;
	font-size: 18px;
}
.content_block_4:hover {
	background-color: #119238;
	transition: 0.5s ease; 
}

.content_block_5 {
	margin-top: 30px;
	background-color: #cea512;
	color: #fff;
	padding: 70px;
	text-align: center;
	font-size: 18px;
}
.content_block_5:hover {
	background-color: #ffc700;
	transition: 0.5s ease; 
}
